<% content_for :title do %>
  Sign in
<% end %>

<div class="row">
  <div class="four columns">
    <p>
      Any authorized access is illegal.
    </p>
  </div>
  
  <div class="four columns">
    <%= render :partial => '/sessions/form' %>
  </div>
  
  <div class="four columns">
    <ul>
      <li>
        <%= link_to "Sign up", sign_up_path %>
      </li>
      <li>
        <%= link_to "Forgot password?", new_password_path %>
      </li>
    </ul> 
  </div>
</div>
