<% content_for :title do %>
  Home
<% end %>

<div class="row">
  <div class="twelve columns">
    <p>Welcome, home!</p>
  </div>
</div>

<div class="row">
  <div class="three columns">
    <h3>Login</h3>
    <p>
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </p>
  </div>
  
  <div class="three columns">
    <h3>Product Management</h3>
    <ul>
      <li><%= link_to "Products", products_path %></li>
      <li><%= link_to "Products Categories", product_categories_path %></li>
    </ul>
  </div>
</div>
