<% content_for :title do %>
  New Product Category
<% end %>

<div class="row">
  <div class="twelve columns">
    <p id="actionbar">
      <%= link_to "Back", product_categories_path %>
    </p>
  </div>
</div>

<%= render 'form' %>
