body {
  font-family: 'Cantarell', san-serif;
}

#logoBar {
  background: black;
  border-bottom: 3px solid gray;
  padding-top: 10px;
  
  h1 { font-size: 1em; }
  a { font-weight: bold; }
  p {
    margin: 0;
    font-size: 1em;
    text-align: right;
  }
}

#pageTitle {
  h2 {
    border-bottom: 1px solid gray;
  }
}

#pageFooter {
  p {
    color: lightgray;
    border-top: 1px solid lightgray;
  }
}

#actionBar {
  text-align: right;
  margin-top: 20px;
}

.right { text-align: right; }
