<% content_for :title do %>
  Editing Product
<% end %>

<div class="row">
  <div class="five columns">
    <h2>Information</h2>
  </div>
  <div class="seven columns">
    <p id="actionBar">
      <%= link_to "Back", products_path %> | 
      <%= link_to "Show", @product %>
    </p>
  </div>
</div>

<%= render 'form' %>
