<% content_for :title do %>
  New Product
<% end %>

<div class="row">
  <div class="twelvecol last">
    <p id="actionbar">
      <%= link_to products_path do %>
        <%= image_tag "16/document_page_previous.png" %>
      <% end %>
    </p>
  </div>
</div>

<%= render 'form' %>
