<% content_for :title do %>
  New Product
<% end %>

<div class="row">
  <div class="twelve columns">
    <p id="actionBar">
      <%= link_to "Back", products_path %>
    </p>
  </div>
</div>

<%= render 'form' %>
